table.pregreg {
    border-collapse: collapse;
    margin: 10px;
}
table.pregreg, table.pregreg th, table.pregreg td {
    border: 1px solid black;
}
table.pregreg td {
    padding: 2px;
    vertical-align:top;
}
table.pregreg ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}
h5 {
    display: inline;
    font-weight: bold;
}
table.layout {
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    margin: 0px;
}
table.layout tbody {
    border: 0px;
    margin: 0px;
}
table.layout th, table.layout td {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.unsupported {
    background: #EEEEEE;
}
.value {
    color: black;
}
.ampath-blue {
    color: #070d5a;
}
.ampath-red {
    color: #800d1b;
}
table.quartercolumns td {
    width: 25%;
}
